@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section.hero {
    background-image: url(./img/hero.jpg);
    height: 600px;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
section.hero::after{
    content: "";
    width: 100%;
    height:100% ;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.286);

}
section.hero div{
    width: 700px;
    z-index: 1;
    text-align: center;
    color: #fff;
}
section.hero h1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.btn {
    background: blue;
    color: #fff;
    padding: 10px 30px;
    margin: 20px 10px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s ease-out;
}
.btn:hover{
    background: #f6ae05;
}
.btn::after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
}
input.btn {
    width: 150px;
    margin: 10px 0;
}
section{
    display: flex;
    justify-content: space-evenly;
    width: 1160px;
    margin: 50px auto;
}
.left, .right {
    width: 50%;
}
.about img,.contact img {
    width: 90%;
}
.about li {
    list-style: none;
    position: relative;
}
.about li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: -20px;
    top: 7px;
}
section.contact {
    width: 100%;
    background-color: #FFEBEC;
}
section.contact .right {
    text-align: right;
}
form input {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #f7dddf;
    outline: none !important;
    border: none;
    border-radius: 5px;
}
.contact-wrepper {
    display: flex;
    width: 1160px;
    padding: 50px 0;
}
.services-wrapper {
    text-align: center;
    max-width: 1160px;
}
.services-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.services-item {
    box-shadow: 0 0 0 0.1px;
    padding: 20px;
    border-radius: 5px;
}
.services-item img {
    width: 350px;
    height: 200px;
}
.philosophy .left, .philosophy .right {
    width: 100%;
}
.top, .bottom {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin: 10px 0;
}
footer {
    background: antiquewhite;
    padding: 50px;
    text-align: center;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-size: 30px;
}
.social {
    margin-top: 20px;
}